body {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  font-family: 'Orelega One', cursive;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.app {
  max-width: 1200px;
  background: rgba(255,255,255,0.85);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.app form {
  border:0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  text-align: center;
  padding: 2rem;
  grid-gap:0;
  align-items: stretch;
  font-size: 30px;
}


.app :is(button, input, select, textarea) {
  margin:0;
  text-align: center;
  border:0;
  font-family: 'Orelega One', cursive;
}

.app :is(button, input, select, textarea):focus {
  outline-color: violet;
}

.app option {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.app input, .app select {
  font-size: 30px;
  background: none;
  width: 100%;
}

.app select {
  font-size: 30px;
  width: 450px;
}


