html {
  font-size: 62.5%;
  --yellow: #ffc600;
  --blue: hsla(205, 49%, 19%, 1);
  --lightBlue: hsla(205, 52%, 25%, 1);
  --darkBlue: rgba(21, 35, 45, 1);
  --pink: hsla(328, 100%, 70%, 1);
  --green: hsla(109, 100%, 50%, 1);
  background: var(--blue);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:is(input, select, textarea) {
  background: var(--darkBlue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1rem;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1.6rem;
}

:focus:is(input, select, textarea) {
  border-color: var(--yellow);
  outline: 0;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

.inputWrap {
  padding: 1rem;
  border: 1px solid var(--darkBlue);
  display: grid;
  grid-auto-flow: row;
  gap: 1rem 0;
  label {
    font-size: 2rem;
    display: block;
    color: var(--yellow);
  }
}

.inputWrap p {
  font-size: 1.2rem;
  margin: 0;
}

.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--blue);
}
.pink {
  color: var(--pink);
}
.green {
  color: var(--green);
}

body {
  font-size: 2rem;
}

.year {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-gap: 1rem;
  font-size: 1.2rem;
}

.yearNumber {
  font-weight: 900;
}

.result {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto;
  margin: 0.5rem;
  border-radius: 50px;
}

.yearlyBump {
  grid-column: -1;
  padding-left: 1rem;
}

.yearSummary {
  text-align: right;
}
.yearSummary > * {
  display: block;
}

.yearNumber {
  color: var(--yellow);
}

.result > span {
  display: inline-block;
  padding: 5px 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  align-items: center;
}

.contribution {
  background: #ffc600;
  display: inline-block;
  border-radius: 50px 0 0 50px;
}
.profit {
  border-radius: 0 50px 50px 0;
  background: pink;
  display: inline-block;
  text-align: right;
  direction: rtl;
  min-width: 5%;
}
